* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(8, 48, 8), blue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 300px;
    background: linear-gradient(to right, rgb(37, 2, 11), rgb(5, 122, 113));
    color: aliceblue;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 500px;
    margin-left: 240px;
    margin-top: 55px;
    border: 10px solid rgb(216, 41, 207);
    border-radius: 20px;
}

button {
    background: linear-gradient(to right, green, blue);
    color: aliceblue;
    text-align: center;
    height: 30px;
    width: 90px;
    border: none;
    border-radius: 5px;
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 0, 191), green);
}