* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #0a0a23;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #1dd1a1;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
}

button {
    background: linear-gradient(to right, green, blue);
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.box {
    height: 200px;
    width: 250px;
    background: linear-gradient(to right, #00c9ff, #13721c);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 20px;
}

/* Inner box */
.box h1 {
    background: linear-gradient(to right, #bb0a3f, #4a00e0);
    color: white;
    border-radius: 10px;
    padding: 10px;
}

/* Hover */
.box:hover {
    background: linear-gradient(to right, #4be22d, #e0005d);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.box1 {
    height: 300px;
    width: 200px;
    background: linear-gradient(to right, #043b4b, #13721c);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    padding: 20px;
    margin-top: 15px;
}

.box1 a {
    margin: 10px;
    /* REDUCED: Kam margin */
    padding: 10px 20px;
    /* IMPROVED: Better padding */
    background: linear-gradient(to right, #e22d2d, #e09200);
    color: white;
    border-radius: 10px;
    text-decoration: none;

    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.box1 a:hover {
    background: linear-gradient(to right, #26b808, #6a00a8);
    transform: translateY(-3px);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}