* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, rgb(3, 44, 71), rgb(97, 4, 4));
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: linear-gradient(to right, rgb(31, 26, 3), rgb(4, 44, 4));
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #eef1ee;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}