* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #0a0a23;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 50px;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #1dd1a1;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
}

button {
    background: linear-gradient(to right, green, blue);
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.service {
    background: linear-gradient(to right, #cf0c95, #26c4af);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
    align-items: center;
    color: #ccc;
}

.learn-more {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background: linear-gradient(to right, #2dcf0c, #0e0f75);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.service:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.learn-more:hover {
    background: linear-gradient(to right, #b3edf5, #0e0f75);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}