* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #040229, #df074f);
    color: #f7f6f6;
}

.main {
    height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, green, rgb(54, 45, 3));
}

.main:hover {
    cursor: pointer;
    transition: 1s ease-in-out;
    background: linear-gradient(to right, rgb(167, 19, 43), rgb(7, 51, 7));
}

.footer {
    background: linear-gradient(to right, rgb(209, 7, 7), rgb(6, 1, 36));
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.footer p {
    margin: 5px;
}

.footer a {
    color: #eef1ee;
    text-decoration: none;
    gap: 5px;
}

.footer a:hover {
    text-decoration: underline;
    color: aqua;
}